.two{
    background-color:black;
    width: 1290px;
    height: 300px;
    position: relative;
    left:px;
    top: 50px;
    z-index: 1;
}

.three{
    background-color: blue;
    width: 1290px;
    height: 300px;
    
    position: relative;
    left:px;
    top: 50px;
    z-index: 2;
}



@media screen and (max-width:600px) {
    h4{
        color: green;
    }
}

.four{

    background-color: blue;
    width: 300px;
    height: 100px;
    position: absolute;
    left: 500px;
    top: 100px;
    z-index: 4;
    border-radius: 10px;
    

}

.five{
    background-color: black;
    width: 300px;
    height: 100px;
    position: absolute;
    left: 500px;
    top: 15opx;
    z-index: 4;
    border-radius: 10px;

}

.intro{
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 50px;
    position: relative;

}

.main{
    font-size: 50px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position:relative;
    top: 1px;
    left: 80px;
}
    

